---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import { Post } from '../collections/posts';

const { content } = Astro.props;
const { title, description, publishDate, author, authorURL, heroImage, permalink, alt } = content;
---

<html lang={content.lang || 'en'}>
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<BlogHeader />
		<div class="wrapper">
			<Post {title} {author} {authorURL} {heroImage} {publishDate} {alt}>
				<slot />
			</Post>
		</div>
		<BlogFooter />
	</body>
</html>
